<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">


    <!--  会话Session ID 生成器-->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>

    <!--  授权 认证 realm-->
    <bean id="sampleRealm" class="com.gunn.common.shiro.token.sampleRealm"/>

    <!-- 会话 Cookie 模板-->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="30"/>
    </bean>

    <!-- 用户信息记住我 cookie-->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="reJSESSION"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="2592000"/><!--30天 ，记住我30天-->
    </bean>

    <!--rememberMeManager-->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <!-- rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度（128 256 512 位）-->
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('3AvVhmFLUs0KTA3Kprsdag==')}"/>
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="sampleRealm"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
        <property name="sessionManager" ref="sessionManager"/>

    </bean>


    <!--session监听器-->
    <bean id="customSessionListener" class="com.gunn.common.shiro.listener.CustomShiroSessionListener">
        <property name="shiroSessionRepository" ref="jedisShiroSessionRepository"/>
    </bean>

    <!--Session Manager-->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionValidationInterval" value="1800000"/>

        <property name="globalSessionTimeout" value="18000000"/><!--session有效时间为半小时-->
        <property name="sessionDAO"  ref="customShiroSessionDAO"/>

        <!--session监听-->
        <property name="sessionListeners">
            <list>
                <ref bean="customSessionListener"/>
            </list>
        </property>

        <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>

        <property name="sessionValidationSchedulerEnabled" value="true"/>

        <property name="deleteInvalidSessions" value="true"/>

        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>

    <!-- 会话验证调度器-->
    <bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
        <!--检查时间间隔 默认60分钟-->
        <!--<property name="interval" value="18000000"/>-->
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!-- redis管理器，基本的redis操作-->
    <bean id="jedisManager" class="com.gunn.common.shiro.cache.JedisManager">
        <property name="jedisPool" ref="jedisPool"/>
    </bean>

    <bean id="jedisShiroSessionRepository" class="com.gunn.common.shiro.session.JedisShiroSessionRepository">
        <property name="jedisManager" ref="jedisManager"/>
    </bean>
    <!--自定义sessionDAO-->
    <bean id="customShiroSessionDAO" class="com.gunn.common.shiro.session.CustomShiroSessionDAO">
        <property name="sessionRepository" ref="jedisShiroSessionRepository"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/><!--其实这行可以不指定sessionid生成器-->
    </bean>

</beans>